.sneakershelf{
    margin: 3%;
}
.btn-danger{
    width:4.5rem
}
span{
    color: #2b2d42;
    font-size:2.5rem
}
thead{
    background-color:#2b2d42;
    color:#edf2f4;
}
.addbtn{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 15rem;
    box-shadow: 5px 5px 5px #2b2d42;
    color: #edf2f4;
}
table{
    box-shadow: 5px 5px 5px #2b2d42;
    border-radius: 6px;
    border-spacing: 0;
    border: 1px solid black;
}

th:first-of-type {
    border-top-left-radius: 10px;
  }
  th:last-of-type {
    border-top-right-radius: 10px;
  }
  tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
  }
  tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
  }
  .tidelete{
    width:150%
  }