.sneakershelf{
    margin: 3%;
}
span{
    color: #2b2d42;
    font-size:x-large
}
thead{
    background-color:#2b2d42;
    color:#edf2f4;
}
.addbtn{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 15rem;
    box-shadow: 5px 5px 5px #2b2d42;
    color: #edf2f4;
}
table{
    box-shadow: 5px 5px 5px #2b2d42;
    border-radius: 6px;
    border-spacing: 0;
    border: 1px solid black;
}