@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

.app{
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  position: absolute;
}
body{
  font-family: 'Space Grotesk';
  margin: 0;
}
